<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>헬로 옐로</title>
        <style>
            .yellow {
                background-image: url('../static/resulty.jpg');
                width: 900px;
                height: 680px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin: auto;


            }

        </style>
    </head>
    <body>
        <div class="yellow">

        </div>

    </body>
</html>