<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>헬로 옐로</title>
        <style>
            .yellow {
                background-image: url('../static/resulty.jpg');
                width: 900px;
                height: 680px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin : auto;

            }

        </style>
    </head>
    <body>
        <div class="yellow">
        </div>
    </body>
</html>